.frame {
  width: 500px;
  height: 430px;
  border: 10px double gray;
  color: white;
  background-image: url("./background1.jpg");
  padding: 10px;
  margin: 50px auto;
}
.frame > p {
  color: #d6dd0d;
  font-size: large;
}
body{
background-color: burlywood;
}