.frame {
  width: 500px;
  height: 430px;
  border: double 10px;
  color: rgb(230, 210, 210);
  background-image: conic-gradient(red, green, blue, yellow, purple, red);
  padding: 10px;
  margin: 50px auto;
}
.frame > p {
  color: #d6dd0d;
  font-size: large;
}
